nav {
  width: 100vw;
  position: fixed;
  z-index: 2;
}

ul {
  display: flex;
  flex-direction: row;
  padding: 1.5em;
}

li {
  font-size: var(--mediam-font);
  list-style: none;
  margin-right: 20px;
  color: white;

}
